<nav>
  <a (click)="onTabChange({tab: 'opener', text: 'title'})">Початок написання</a>
  <a (click)="onTabChange({tab: 'reducting', text: 'title'})">Титулка</a>
  <a (click)="onTabChange({tab: 'reducting', text: 'historical'})">Аналіз змісту</a>
  <a (click)="onTabChange({tab: 'reducting', text: 'theory'})">Музично-теоретичний аналіз</a>
  <a (click)="onTabChange({tab: 'reducting', text: 'vocal'})">Вокально-хоровий аналіз</a>
  <a (click)="onTabChange({tab: 'reducting', text: 'performance'})">Виконавський аналіз</a>
  <a (click)="onTabChange({tab: 'reducting', text: 'difficulties'})">Труднощі виконання</a>
  <a (click)="onTabChange({tab: 'result', text: 'title'})">Результат</a>
</nav>

